<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8' />
    <title>条件渲染</title>
    <script src='./vue.min.js' type='text/javascript'>
    </script>
</head>

<body>
    <div id="root">
        <!-- v-show -->
        <!-- 用值来确定是否显示。代替css的display属性 -->
        <h1 v-show="show">ddddd</h1>
        <!-- 也可以用表达式来判断显隐 -->
        <h1 v-show="1===1">adaaaa</h1>
        <br><br>
        <!-- v-if条件不符合则直接不加载控件 -->
        <h1 v-if="false">adaaaa</h1>
        <!-- 测试 -->
        <div v-show="n===1">angla</div>
        <div v-show="n===2">react</div>
        <div v-show="n===3">vue</div>
        <!-- v-if的判断流程不允许打断， 否则div不会生效 -->
        <div v-if="n===1">angla</div>
        <div v-else-if="n===2">react</div>
        <div v-else-if="n===3">vue</div>
        <div v-else>other</div>
        <h1>n的值{{n}}</h1>
        <button @click="n++">点让n++</button>
        <!-- template包在控件外面 不影响控件布局结构。对需要统一控制的控件可以用tamplate,而且只能与v-if配合使用  不能与v-show使用 -->
        <template v-if="n === 1">
            <h1>n的值{{n}}</h1>
            <h1>n的值{{n}}</h1>
            <h1>n的值{{n}}</h1>
        </template>
        <!-- 
    条件渲染：
    v-if:写法：v-if="表达式"
              v-else-if="表达式"
              v-else="表达式"
              适用于：切换频率较低的场景。
              特点：不展示的dom元素直接被移除
              注意：v-if可以和v-else-if,v-else一起使用，但是结构不能被破坏
    v-show写法：
              v-show="表达式"
              适用于：切换频率较高的场景
              特点，未展示的元素没有移除，只是被隐藏
    备注：使用v-if时，元素可能无法获取到，使用v-show一定可以获取到

 -->
    </div>
    <script>
        new Vue({
            el: '#root',
            data() {
                return {
                    show: true,
                    n: '0'
                }
            },
            methods: {

            },
        })
    </script>
</body>

</html>